<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <div class="animated bounce">
        <h5>Login</h5>
        <p>
          Sorry to see that you have forgotten your password. Enter your email with confirmation below to reset your password.
        </p>
        <p>
          {{#if messages}}
            <div class="message">{{messages}}</div>
          {{/if}}
        </p>
        <form action="/forgot-password" method="post">
          <div class="row">
            <div class="six columns">
              <label for="emailInput">Email</label>
              <input class="u-full-width" name="username" type="email" placeholder="Email" id="emailInput">
            </div>
            <div class="six columns">
              <label for="emailConfirmationInput">Email</label>
              <input class="u-full-width" name="usernameConfirmation" type="email" placeholder="Email Confirmation" id="emailConfirmationInput">
            </div>
          </div>
          <input class="button-primary" type="submit" value="Reset Password">
        </form>
      </div>
    </div>
  </div>
</div>
