<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <p>
        blesser.co is a dating website for individuals that find it important to know how much money their partner earns.
      </p>
      <p>
        The site started out as a social experiment to see how people reacted to having the earning potential of their partners as a visible factor when looking to pursue a relationship with someone.
      </p>
      <p>
        You can create an account and start talking to your potential suitor today. You may also just browse existing suitors
        if you feel that you are not ready to dive deep into the site yet :)
      </p>
    </div>
  </div>
</div>
