<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <div class="animated bounce">
        <h5>You have logged out successfully!</h5>
        <p>
          Congratulations on logging out and keeping your data secure and safe.
          We hope that you enjoyed your experience and look forward to your next visit to the site.
          If you logged out by mistake you can log back in by clicking the button below.
        </p>
        <form>
          <div class="row">
            <div class="twelve columns">
              <a href="/get-blessed" class="button button-primary u-pull-right">Log me back in!</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
