<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <div class="animated bounce">
        <h5>Login</h5>
        <p>
          Sorry to see that you have forgotten your password. Enter your email with confirmation below to reset your password.
        </p>
        <p>
          {{#if messages}}
            <div class="message">{{messages}}</div>
          {{/if}}
        </p>
        <form action="/confirm-password" method="post">
          <div class="row">
            <div class="six columns">
              <label for="passwordInput">Password</label>
              <input class="u-full-width" name="password" type="password" placeholder="Password" id="passwordInput">
            </div>
            <div class="six columns">
              <label for="passwordConfirmationInput">Confirm Password</label>
              <input class="u-full-width" name="passwordConfirmation" type="password" placeholder="Password Confirmation" id="passwordConfirmationInput">
            </div>
          </div>
          <input class="button-primary" type="submit" value="Confirm Password">
        </form>
      </div>
    </div>
  </div>
</div>
