<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>bless.er</title>
  <meta name="description" content="Find your blesser. Get blessed. Amen.">
  <meta name="author" content="bless.er">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/libs/skeleton-css/css/normalize.css">
  <link rel="stylesheet" href="/libs/skeleton-css/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="css/github-prettify-theme.css">
  <script src="/js/site.js"></script>

  <link rel="icon" type="image/png" href="/img/favicon.png">

</head>
<body class="code-snippets-visible">

  <div class="container">
    <section class="header">
      <img src="/img/blesser-logo.png" />
      <h2 class="title">Find your blesser. Get blessed. Amen.</h2>
      <a class="button button-primary" href="/get-blessed">Join</a>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <form>
          <div class="row">
            <div class="six columns">
              <input class="u-full-width" type="search" placeholder="search for your blesser by location etc..." id="searchInput">
            </div>
            <div class="six columns">
              <ul class="navbar-list u-pull-right">
                <li class="navbar-item">
                  <a class="navbar-link" href="#" data-popover="#codeNavPopover">Hi, Jane Doe <b class="notifications">100</b></a>
                  <div id="codeNavPopover" class="popover">
                    <ul class="popover-list">
                      <li class="popover-item">
                        <a class="popover-link" href="/messages">Messages</a>
                      </li>
                      <li class="popover-item">
                        <a class="popover-link" href="/log-out">Log out</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </nav>

    <div class="docs-section" id="intro">
      <div class="row">
        <div class="six columns">
          <div class="blesser-tile">
            <a href="#" class="u-pull-right"><img src="/img/envelope.png" /></a>
            <strong>Name: </strong> John Doe <br />
            <strong>Description: </strong> I am looking for a young girl that will not get attached. She must be willing to see me sporadically. <br />
            <strong>Blessing: </strong> R5 000 p/m <br />
          </div>
        </div>
        <div class="six columns">

        </div>
      </div>
    </div>
  </div>

</body>
</html>
