<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <div class="animated bounce">
        <h5>Join</h5>
        <p>
          Please note that all registrations are currently by invite only. You can enter your email address and password below and
          we will include you in our next quota once you have reached the fron of the queue. You can also give a short motivation as
          to why we should fast track your registration if you want the process to go quicker.
        </p>
        <form>
          <div class="row">
            <div class="six columns">
              <label for="emailInput">Email</label>
              <input class="u-full-width" type="email" placeholder="Email" id="emailInput">
            </div>
            <div class="six columns">
              <label for="passwordInput">Password</label>
              <input class="u-full-width" type="password" placeholder="Password" id="passwordInput">
            </div>
          </div>
          <label for="motivationInput">Motivation</label>
          <textarea class="u-full-width" placeholder="Tell us why we should fast track your applicaiton (leave blank to login if you have an account)" id="motivationInput"></textarea>
          <input class="button-primary" type="submit" value="Login / Register">
        </form>
      </div>
    </div>
  </div>
</div>
