<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <div class="animated bounce">
        <h5>Login</h5>
        <p>
          Welcome back! Please enter your username and password below to proceed with login and using the applicaiton.
        </p>
        <form action="/login" method="post">
          <div class="row">
            <div class="six columns">
              <label for="emailInput">Email</label>
              <input class="u-full-width" type="email" placeholder="Email" id="emailInput">
            </div>
            <div class="six columns">
              <label for="passwordInput">Password</label>
              <input class="u-full-width" type="password" placeholder="Password" id="passwordInput">
            </div>
          </div>
          <input class="button-primary" type="submit" value="Login">
        </form>
      </div>
    </div>
  </div>
</div>
