<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>bless.er | messages</title>
  <meta name="description" content="Find your blesser. Get blessed. Amen.">
  <meta name="author" content="bless.er">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/libs/skeleton-css/css/normalize.css">
  <link rel="stylesheet" href="/libs/skeleton-css/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="css/github-prettify-theme.css">
  <script src="/js/site.js"></script>
  <script src="/js/emojify.js"></script>

  <link rel="icon" type="image/png" href="/img/favicon.png">

</head>
<body class="code-snippets-visible">

  <div class="container">
    <section class="header">
      <a href="/"><img src="/img/blesser-logo.png" /></a>
      <h2 class="title">Find your blesser. Get blessed. Amen.</h2>
      <a class="button button-primary" href="/get-blessed">Join</a>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <form>
          <div class="row">
            <div class="six columns">
              <input class="u-full-width" type="search" placeholder="search for your blesser by name..." id="searchInput">
            </div>
            <div class="six columns">
              <ul class="navbar-list u-pull-right">
                <li class="navbar-item">
                  <a class="navbar-link" href="#" data-popover="#codeNavPopover">Hi, Jane Doe <b class="notifications">100</b></a>
                  <div id="codeNavPopover" class="popover">
                    <ul class="popover-list">
                      <li class="popover-item">
                        <a class="popover-link" href="/messages">Messages</a>
                      </li>
                      <li class="popover-item">
                        <a class="popover-link" href="/log-out">Log out</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </nav>

    <div class="docs-section" id="intro">

      <div class="row">
        <div class="four columns">
          <div class="blesser-tile-list">
            <ul>
              <li><a href="#">Jane Doe <b class="notifications u-pull-right">10</b></a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
              <li><a href="#">Jane Doe</a></li>
            </ul>
          </div>
        </div>
        <div class="eight columns">
          <h5>Jane Doe</h5>
          <div class="blesser-tile-message">
            <div class="me">Hey love :(<small>21:52</small></div>
            <div class="you">What's up baby girl?<small>21:52</small></div>
            <div class="you">You good?<small>21:52</small></div>
            <div class="me">Hey love :)<small>21:52</small></div>
            <div class="you">What's up baby girl?<small>21:52</small></div>
            <div class="you">You good?<small>21:52</small></div>
            <div class="me">Hey love :)<small>21:52</small></div>
            <div class="you">What's up baby girl?<small>21:52</small></div>
            <div class="you">You good?<small>21:52</small></div>
          </div>
          <form>
            <input class="u-full-width" type="text" placeholder="Write a reply..." id="messageInput">
            <input class="u-pull-right" type="submit" value="Send">
        </form>
        </div>
      </div>

    </div>

    <div class="navbar-spacer"></div>
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">&#169; bless.er</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/privacy">Privacy</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/terms">Terms</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/cookies">Cookies</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/advertising">Advertising</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/contact">Contact</a></li>
    </ul>

  </div>

  <script type="text/javascript">
    emojify.setConfig({

      emojify_tag_type : 'div',           // Only run emojify.js on this element
      only_crawl_id    : null,            // Use to restrict where emojify.js applies
      img_dir          : '/img/emoji',  // Directory for emoji images
      ignored_tags     : {                // Ignore the following tags
          'SCRIPT'  : 1,
          'TEXTAREA': 1,
          'A'       : 1,
          'PRE'     : 1,
          'CODE'    : 1
      }
    });
    emojify.run();
  </script>

</body>
</html>
