<div class="docs-section" id="intro">
  <div class="row">
    <div class="four columns">
      <div class="blesser-tile-list">
        <ul>
          <li>
            <a href="/messages/132412341234">
              Jane Doe <b class="notifications u-pull-right">10</b><br />
              <small class="gray">Don't forget to send me the...</small><b class="u-pull-right gray">19:27</b>
            </a>
          </li>
          <li>
            <a href="/messages/123402345">
              Jane Doe <b class="notifications u-pull-right">10</b><br />
              <small class="gray">Don't forget to send me the...</small><b class="u-pull-right gray">19:27</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="eight columns">
      <h5>{{activeConversation.recepients[0].name}} and {{activeConversation.recepients[1].name}}
        <a href="/report" class="u-pull-right">
          <img src="/img/megaphone.png" width="35" title="Report User" alt="Report User" />
        </a>
      </h5>
      <div class="blesser-tile-message emojinate" ng-repeat="message in messages">
        <div ng-if="message.composer == me.id" class="me">{{message.message}}<small am-time-ago="message.created_on"></small></div>
        <div ng-if="message.composer != me.id" class="you">{{message.message}}<small am-time-ago="message.created_on"></small></div>
      </div>
      <form ng-submit="click.sendMessage()" ng-controller="MessagesController">
        <input name="message" class="u-full-width" type="text" placeholder="Write a reply..." id="messageInput" ng-model="message.message"/>
        <input name="from" type="hidden" ng-model="message.from"/>
        <input name="to" type="hidden" ng-model="message.to"/>
        <input class="u-pull-right" type="submit" value="Send">
    </form>
    </div>
  </div>
</div>
