<div class="docs-section" id="intro" ng-init="click.init()">
  <div class="row">
    <div class="four columns">
      <div class="blesser-tile-list">
        <ul>
          <li ng-repeat="conversation in conversations">
            <a ng-if="conversation.recepients[0]._id != me.id()" href="/messages/{{conversation.recepients[0]._id}}">
              {{conversation.recepients[0].name}} {{conversation.recepients[0].surname}} <b ng-if="conversation.read.indexOf(me.id())<0" class="notifications u-pull-right">{{conversation.read.count}}</b><br />
              <div><small class="gray">{{conversation.last_message_excerpt}}</small></div>
              <b class="u-pull-right gray">{{conversation.last_message_sent | amCalendar:referenceTime:formats }}</b>
            </a>
            <a ng-if="conversation.recepients[1]._id != me.id()" href="/messages/{{conversation.recepients[1]._id}}">
              {{conversation.recepients[1].name}} {{conversation.recepients[1].surname}} <b ng-if="conversation.read.indexOf(me.id())<0" class="notifications u-pull-right">{{conversation.read.count}}</b><br />
              <div><small class="gray">{{conversation.last_message_excerpt}}</small></div>
              <b class="u-pull-right gray">{{conversation.last_message_sent | amCalendar:referenceTime:formats }}</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="eight columns">
      <h5>{{activeConversation.recepients[0].name}} and {{activeConversation.recepients[1].name}}
        <a href="/report" class="u-pull-right">
          <img src="/img/megaphone.png" width="35" title="Report User" alt="Report User" />
        </a>
      </h5>
      <div class="blesser-tile-message emojinate" ng-repeat="message in messages">
        <div ng-if="message.composer == me.id()" class="me">{{message.message}}<small am-time-ago="message.created_on"></small></div>
        <div ng-if="message.composer != me.id()" class="you">{{message.message}}<small am-time-ago="message.created_on"></small></div>
      </div>
      <form ng-submit="click.sendMessage()" ng-controller="MessagesController">
        <input name="message" class="u-full-width" type="text" placeholder="Write a reply..." id="messageInput" ng-model="message.message"/>
        <input name="from" type="hidden" ng-model="message.from"/>
        <input name="to" type="hidden" ng-model="message.to"/>
        <input class="u-pull-right" type="submit" value="Send">
    </form>
    </div>
  </div>
</div>
