<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <h5>Profile</h5>
      <p>
        Create your blesser profile below. Remember that you can use a pseudonym for anonymities sake and you don't have to disclose
        your real name until you start messaging. You can activate and deactivate your blesser profile at any time. If you want to delete
        your whole bless.er account you can email mazi.muhlari@gmail.com
      </p>
      <form>
        <div class="row">
          <div class="six columns">
            <label for="nameInput">Name</label>
            <input class="u-full-width" type="text" placeholder="Jane" id="nameInput">
          </div>
          <div class="six columns">
            <label for="surnameInput">Surname</label>
            <input class="u-full-width" type="text" placeholder="Doe" id="surnameInput">
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <label for="descriptionInput">Description</label>
            <textarea class="u-full-width" placeholder="Tell us about yourself in 140 characters" id="descriptionInput"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <label for="blessingInput">Blessing</label>
            <input class="u-full-width" type="number" placeholder="R 5000" id="blessingInput" min="0">
          </div>
        </div>
        <label class="example-send-yourself-copy">
          <input type="checkbox">
          <span class="label-body">Activate blesser profile</span>
        </label>
        <input class="button-primary" type="submit" value="Start Blessing">
      </form>
    </div>
  </div>
</div>
