<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <h5>Profile</h5>
      <p>
        Create your blesser profile below. Remember that you can use a pseudonym for anonymities sake and you don't have to disclose
        your real name until you start messaging. You can activate and deactivate your blesser profile at any time. If you want to delete
        your whole blesser.co account you can email blesserco@icloud.com
      </p>
      <form ng-submit="click.updateUser()">
        <div class="row">
          <div class="six columns">
            <label for="nameInput">Name</label>
            <input class="u-full-width" type="text" name="name" placeholder="Jane" id="nameInput" ng-model="user.name">
          </div>
          <div class="six columns">
            <label for="surnameInput">Surname</label>
            <input class="u-full-width" type="text" name="surname" placeholder="Doe" id="surnameInput" ng-model="user.surname">
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <label for="genderInput">Gender</label>
            <select class="u-full-width" name="gender" id="genderInput" ng-model="user.gender">
              <option value="Other">Other</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="six columns">
            <label for="blessingInput">Blessing</label>
            <input class="u-full-width" type="number" name="blessing" placeholder="R 5000" min="0" id="blessingInput"  ng-model="user.blessing">
          </div>
        </div>
        <label for="descriptionInput">Description</label>
        <textarea class="u-full-width" placeholder="Describe the type of blessee you are looking for..." id="descriptionInput" name="description" maxlength="140" ng-model="user.description"></textarea>
        <label class="example-send-yourself-copy">
          <input type="checkbox" name="is_blesser" ng-model="user.is_blesser">
          <span class="label-body">Activate blesser profile</span>
        </label>
        <input class="button-primary" type="submit" value="Update">
      </form>
    </div>
  </div>
</div>
