<div class="docs-section" id="intro">
  <div class="row">
    <div class="twelve columns">
      <h5>Report User</h5>
      <p>
        Do not hesitate to report any user that you find to be violating our terms of use and or if you feel that they are somehow hampering
        your experience on bless.er
      </p>
      <form>
        <div class="row">
          <div class="twelve columns">
            <label for="categoryInput">Reason for reporting</label>
            <select class="u-full-width" id="categoryInput">
              <option value="Bullying">Bullying</option>
              <option value="Imposter">Imposter</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <label for="reportMessageInput">Message</label>
        <textarea class="u-full-width" placeholder="Tell us more about this users transgressions..." id="reportMessageInput"></textarea>
        <label class="example-send-yourself-copy">
          <input type="checkbox">
          <span class="label-body">Notify the user you are reporting</span>
        </label>
        <input class="button-primary" type="submit" value="Report">
      </form>
    </div>
  </div>
</div>
